* {
  color: #333;
}

header {
  border-bottom: 1px solid rgba(133, 133, 133, 0.185);
}

.form-cadastro button {
  width: 150px;

}

.btn-green {
  background-color: #00af91;
  color: white;
}

.btn-green-invert {
  background-color: white;
  color: #00af91;
  border: 1px solid #00af91;

}


.footer-bg {
  background-color: #00af91;
  color: #f7f3e9;
}

.footer-bg a {
  color: #f7f3e9;
}

nav a {
  color: #333;
}

nav a:hover {
  color: #00af91;
}

small.msgLoginErro,
span.msgAlertaComentario {
  color: rgb(255, 32, 77);
  font-size: .9rem;
  height: 7px;
}

span.msgAlertaComentario {
  color: rgb(255, 32, 77)
}

.cadastre {
  font-weight: 600;
  font-size: 1.2rem;
}